<section class="partners-carousel-section">
  <div class="container">
    <h2>Beratung trifft Technologie</h2>
    
    <div class="partners-carousel swiper">
      <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide">
          <div class="partner-card">
            <div class="partner-card__icon">
              <picture>
      <source srcset="/assets/images/partners/partner-check-icon.webp" type="image/webp">
      <source srcset="/assets/images/partners/partner-check-icon.png" type="image/png">
      <img src="/assets/images/partners/partner-check-icon.png" alt="" class="partner-logo" loading="lazy">
    </picture>
            </div>
            <div class="partner-card__content">
              <h3 class="partner-card__name">Dipl.-Kfm. (FH) Marcus Kemper</h3>
              <p class="partner-card__address">Am Quellenbusch 122<br>46242 Bottrop</p>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide">
          <div class="partner-card">
            <div class="partner-card__icon">
              <picture>
      <source srcset="/assets/images/partners/partner-check-icon.webp" type="image/webp">
      <source srcset="/assets/images/partners/partner-check-icon.png" type="image/png">
      <img src="/assets/images/partners/partner-check-icon.png" alt="" class="partner-logo" loading="lazy">
    </picture>
            </div>
            <div class="partner-card__content">
              <h3 class="partner-card__name">Zellmann & Schaz PartG mbB</h3>
              <p class="partner-card__address">Rubensstr. 22<br>60596 Frankfurt a. Main</p>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide">
          <div class="partner-card">
            <div class="partner-card__icon">
              <picture>
      <source srcset="/assets/images/partners/partner-check-icon.webp" type="image/webp">
      <source srcset="/assets/images/partners/partner-check-icon.png" type="image/png">
      <img src="/assets/images/partners/partner-check-icon.png" alt="" class="partner-logo" loading="lazy">
    </picture>
            </div>
            <div class="partner-card__content">
              <h3 class="partner-card__name">WSSK Stuhlmann Feldmann Breiden Westermilies Wirtschaftsprüfer und Steuerberater Partnerschaft mbB</h3>
              <p class="partner-card__address">Weinsbergtalstr. 4<br>42657 Solingen</p>
            </div>
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="swiper-slide">
          <div class="partner-card">
            <div class="partner-card__icon">
              <picture>
      <source srcset="/assets/images/partners/partner-check-icon.webp" type="image/webp">
      <source srcset="/assets/images/partners/partner-check-icon.png" type="image/png">
      <img src="/assets/images/partners/partner-check-icon.png" alt="" class="partner-logo" loading="lazy">
    </picture>
            </div>
            <div class="partner-card__content">
              <h3 class="partner-card__name">4S Stenzel, Schmidt und Kollegen Steuerberatungs­gesellschaft mbH</h3>
              <p class="partner-card__address">Clemensänger-Ost 3<br>85356 Freising</p>
            </div>
          </div>
        </div>

        <!-- Slide 5 -->
        <div class="swiper-slide">
          <div class="partner-card">
            <div class="partner-card__icon">
              <picture>
      <source srcset="/assets/images/partners/partner-check-icon.webp" type="image/webp">
      <source srcset="/assets/images/partners/partner-check-icon.png" type="image/png">
      <img src="/assets/images/partners/partner-check-icon.png" alt="" class="partner-logo" loading="lazy">
    </picture>
            </div>
            <div class="partner-card__content">
              <h3 class="partner-card__name">FRANK KONEWKA Steuerberatungs­gesellschaft mbH</h3>
              <p class="partner-card__address">Am Hofberg 5<br>02899 Ostritz</p>
            </div>
          </div>
        </div>

        <!-- Slide 6 -->
        <div class="swiper-slide">
          <div class="partner-card">
            <div class="partner-card__icon">
              <picture>
      <source srcset="/assets/images/partners/partner-check-icon.webp" type="image/webp">
      <source srcset="/assets/images/partners/partner-check-icon.png" type="image/png">
      <img src="/assets/images/partners/partner-check-icon.png" alt="" class="partner-logo" loading="lazy">
    </picture>
            </div>
            <div class="partner-card__content">
              <h3 class="partner-card__name">LowTax Steuerberatungs GmbH</h3>
              <p class="partner-card__address">Am Drosteipark 9<br>25421 Pinneberg</p>
            </div>
          </div>
        </div>

        <!-- Slide 7 -->
        <div class="swiper-slide">
          <div class="partner-card">
            <div class="partner-card__icon">
              <picture>
      <source srcset="/assets/images/partners/partner-check-icon.webp" type="image/webp">
      <source srcset="/assets/images/partners/partner-check-icon.png" type="image/png">
      <img src="/assets/images/partners/partner-check-icon.png" alt="" class="partner-logo" loading="lazy">
    </picture>
            </div>
            <div class="partner-card__content">
              <h3 class="partner-card__name">S&V Steuern und Vermögen GmbH & Co. KG Steuer­beratungs­gesellschaft</h3>
              <p class="partner-card__address">Am Drosteipark 9<br>25421 Pinneberg</p>
            </div>
          </div>
        </div>

        <!-- Slide 8 -->
        <div class="swiper-slide">
          <div class="partner-card">
            <div class="partner-card__icon">
              <picture>
      <source srcset="/assets/images/partners/partner-check-icon.webp" type="image/webp">
      <source srcset="/assets/images/partners/partner-check-icon.png" type="image/png">
      <img src="/assets/images/partners/partner-check-icon.png" alt="" class="partner-logo" loading="lazy">
    </picture>
            </div>
            <div class="partner-card__content">
              <h3 class="partner-card__name">steueragenten.de Consulting Steuer­bera­tungs­gesell­schaft mbH</h3>
              <p class="partner-card__address">Am Sandtorkai 50<br>20457 Hamburg</p>
            </div>
          </div>
        </div>

        <!-- Slide 9 -->
        <div class="swiper-slide">
          <div class="partner-card">
            <div class="partner-card__icon">
              <picture>
      <source srcset="/assets/images/partners/partner-check-icon.webp" type="image/webp">
      <source srcset="/assets/images/partners/partner-check-icon.png" type="image/png">
      <img src="/assets/images/partners/partner-check-icon.png" alt="" class="partner-logo" loading="lazy">
    </picture>
            </div>
            <div class="partner-card__content">
              <h3 class="partner-card__name">VM Finovia GmbH Steuer- und Rechtsberatung</h3>
              <p class="partner-card__address">Zweigstr. 10<br>80336 München</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Swiper pagination -->
      <div class="swiper-pagination"></div>
      
      <!-- Swiper navigation -->
      <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1000" zoomAndPan="magnify" viewBox="0 0 750 749.999995" height="1000" preserveAspectRatio="xMidYMid meet">
          <path style="stroke:none;fill-rule:nonzero;fill:#353535;fill-opacity:1;" d="M 375 0.105469 C 581.773438 0.105469 750 168.332031 750 375 C 750 581.667969 581.773438 750 375 750 C 168.226562 750 0.105469 581.773438 0.105469 375 C 0.105469 168.226562 168.332031 0 375 0 Z M 375 718.574219 C 564.488281 718.574219 718.574219 564.488281 718.574219 375 C 718.574219 185.511719 564.488281 31.425781 375 31.425781 C 185.511719 31.425781 31.53125 185.511719 31.53125 375 C 31.53125 564.488281 185.613281 718.574219 375 718.574219 Z M 375 718.574219"></path>
          <path style="stroke:none;fill-rule:nonzero;fill:#353535;fill-opacity:1;" d="M 366.410156 202.058594 C 370.390625 202.058594 374.476562 203.632812 377.515625 206.667969 C 383.695312 212.847656 383.695312 222.800781 377.515625 228.875 L 240.503906 365.886719 L 377.515625 502.898438 C 383.695312 509.078125 383.695312 519.027344 377.515625 525.105469 C 371.332031 531.285156 361.382812 531.285156 355.308594 525.105469 L 213.898438 383.695312 C 209.078125 378.875 206.460938 372.589844 206.460938 365.886719 C 206.460938 359.183594 209.078125 352.792969 213.898438 348.078125 L 355.308594 206.667969 C 358.34375 203.632812 362.429688 202.058594 366.410156 202.058594 Z M 236.101562 361.59375 Z M 236.101562 361.59375"></path>
          <path style="stroke:none;fill-rule:nonzero;fill:#353535;fill-opacity:1;" d="M 222.382812 350.175781 L 525.3125 350.175781 C 534.007812 350.175781 541.027344 357.191406 541.027344 365.886719 C 541.027344 374.582031 534.007812 381.597656 525.3125 381.597656 L 222.382812 381.597656 C 213.6875 381.597656 206.667969 374.582031 206.667969 365.886719 C 206.667969 357.191406 213.6875 350.175781 222.382812 350.175781 Z M 222.382812 350.175781"></path>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1000" zoomAndPan="magnify" viewBox="0 0 750 749.999995" height="1000" preserveAspectRatio="xMidYMid meet">
          <path style="stroke:none;fill-rule:nonzero;fill:#353535;fill-opacity:1;" d="M 375 0.105469 C 581.773438 0.105469 750 168.332031 750 375 C 750 581.667969 581.773438 750 375 750 C 168.226562 750 0.105469 581.773438 0.105469 375 C 0.105469 168.226562 168.332031 0 375 0 Z M 375 718.574219 C 564.488281 718.574219 718.574219 564.488281 718.574219 375 C 718.574219 185.511719 564.488281 31.425781 375 31.425781 C 185.511719 31.425781 31.53125 185.511719 31.53125 375 C 31.53125 564.488281 185.613281 718.574219 375 718.574219 Z M 375 718.574219"></path>
          <path style="stroke:none;fill-rule:nonzero;fill:#353535;fill-opacity:1;" d="M 383.589844 547.941406 C 379.609375 547.941406 375.523438 546.367188 372.484375 543.332031 C 366.304688 537.152344 366.304688 527.199219 372.484375 521.125 L 509.496094 384.113281 L 372.484375 247.101562 C 366.304688 240.921875 366.304688 230.972656 372.484375 224.894531 C 378.667969 218.714844 388.617188 218.714844 394.691406 224.894531 L 536.101562 366.304688 C 540.921875 371.125 543.539062 377.410156 543.539062 384.113281 C 543.539062 390.816406 540.921875 397.207031 536.101562 401.921875 L 394.691406 543.332031 C 391.65625 546.367188 387.570312 547.941406 383.589844 547.941406 Z M 513.898438 388.40625 Z M 513.898438 388.40625"></path>
          <path style="stroke:none;fill-rule:nonzero;fill:#353535;fill-opacity:1;" d="M 527.617188 399.824219 L 224.6875 399.824219 C 215.992188 399.824219 208.972656 392.808594 208.972656 384.113281 C 208.972656 375.417969 215.992188 368.402344 224.6875 368.402344 L 527.617188 368.402344 C 536.3125 368.402344 543.332031 375.417969 543.332031 384.113281 C 543.332031 392.808594 536.3125 399.824219 527.617188 399.824219 Z M 527.617188 399.824219"></path>
        </svg>
      </div>
    </div>
  </div>
</section>