---
layout: base.njk
title: Lineo Finance - Automatisierte Wertpapierbuchhaltung
description: Ihre Lösung für automatisierte Wertpapierbuchhaltung. Effizient, präzise und revisionssicher.
pageStyles:
- /css/pages/home.css
---

{% include "sections/home/hero.html" %}

{% include "sections/home/broker-carousel.html" %}



{% include "sections/home/app-showcase.html" %}
{% include "sections/home/workflow.html" %}

{% include "sections/home/leistungen.html" %}

{% include "sections/home/smart-system.html" %}

{% include "sections/home/simple-workflow.html" %}

{% include "sections/home/testimonials.html" %}

{% include "sections/home/faq.html" %}